<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>District53</string>
	<key>CFBundleIconFile</key>
	<string>minetest-icon.icns</string>
	<key>CFBundleName</key>
	<string>District53</string>
	<key>CFBundleDisplayName</key>
	<string>District53</string>
	<key>CFBundleIdentifier</key>
	<string>io.solarnetwork.district53</string>
	<key>NSHighResolutionCapable</key>
	<false/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.9.0.2</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
</dict>
</plist>
